.move-container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 10px;
}

.section {
  border: 1px solid #cccccc;
  padding: 10px;
  box-sizing: border-box;
  position: relative;

  span {
    width: 100%;
    position: relative;
    text-decoration: underline;
    opacity: 0.9;
    color: #00c2e0;
  }
}

.section {
  width: 100%;
}

.section.full {
  width: 100%;
  border: none;
  border-bottom: 2px solid #f50a64;
  margin-bottom: 15px;

  .default-data {
    font-style: italic;
  }
}

.input {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;

  p {
    font-size: 35px;
    margin: 0 5px;
  }

  img {
    height: 40px;
  }
}

.default-data {
  font-size: 32px;
  padding-top: 10px;
}

@media (min-width: 1080px) {
  .section.wide {
    width: 80%;
  }

  .section.small {
    width: 20%;
  }
}
