.move-container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 10px;
}

.section {
  width: 50%;
  border: 1px solid #cccccc;
  padding: 10px;
  box-sizing: border-box;
  position: relative;

  span {
    width: 100%;
    position: relative;
    text-decoration: underline;
    opacity: 0.9;
  }
}

.section:nth-child(3),
.section:nth-child(4),
.section:nth-child(5) {
  width: 33.33336%;
}

.input {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  p {
    font-size: 45px;
  }

  img {
    height: 50px;
  }
}

.default-data {
  font-size: 32px;
  padding-top: 10px;
}

@media (min-width: 1080px) {
  .section,
  .section:nth-child(3),
  .section:nth-child(4),
  .section:nth-child(5) {
    width: 20%;
  }
}
