<div class="character-container">
  <div class="character-title">
    <div class="character-portrait">
      <div class="bracket"></div>
      <img [src]="characterImage" [alt]="character + ' portrait'" />
    </div>
    <h1>{{ character }}</h1>
  </div>
  <div class="tabs">
    <a [routerLink]="['/' + character]" routerLinkActive="active">Movelist</a>
    <a routerLink="punishment" routerLinkActive="active">Punishment</a>
    <a routerLink="combos" routerLinkActive="active">Combos</a>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
