.move-container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 10px;
}

.section {
  width: 50%;
  border: 1px solid #cccccc;
  padding: 10px;
  box-sizing: border-box;
  position: relative;

  span {
    width: 100%;
    position: relative;
    text-decoration: underline;
    opacity: 0.9;
    color: #00c2e0;
  }
}

.section:first-child,
.section:nth-child(2) {
  width: 100%;
}

.input {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;

  p {
    font-size: 35px;
    margin: 0 5px;
  }

  img {
    height: 40px;
  }
}

.default-data {
  font-size: 32px;
  padding-top: 10px;
}

.properties {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  img {
    height: 40px;
    width: 40px;
    margin-right: 5px;
  }

  img:last-child {
    margin-right: 0;
  }
}

@media (min-width: 1080px) {
  .section {
    width: 33.333336%;
  }

  .section:first-child {
    width: 60%;
  }

  .section:nth-child(2) {
    width: 40%;
  }

  .input img {
    height: 50px;
  }
}

@media (min-width: 1920px) {
  .section {
    width: 10%;
  }

  .section:first-child {
    width: 25%;
  }

  .section:nth-child(2) {
    width: 15%;
  }
}
