/* You can add global styles to this file, and also import other style files */
@import "reset-css";

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: fixed;
}

body {
  overflow-y: auto;
  font-family: "Bebas Neue", sans-serif;
  font-display: swap;
}
