/* You can add global styles to this file, and also import other style files */
@import "reset-css";

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: fixed;
}

body {
  overflow-y: auto;
  background: rgb(89, 11, 57);
  background: linear-gradient(
    135deg,
    rgba(89, 11, 57, 1) 0%,
    rgba(23, 16, 34, 1) 35%,
    rgba(34, 57, 76, 1) 100%
  );

  * {
    font-family: "Bebas Neue", sans-serif;
    font-display: swap;
  }
}

.coming-soon {
  font-size: 25px;
  width: 100%;
  text-align: center;
}
